@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding:0px;
    margin:0px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./assets/AdobeStock_550334715.jpeg") center center;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:rgb(8, 150, 160);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    border-bottom:12px solid rgb(72, 238, 174);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:rgb(46, 120, 231);
}
.box2 {
    background:rgb(46, 120, 231);
    margin-left:-5px;
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#fff;
    text-decoration:underline;
}
#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}
#middle h1 {
    color:rgb(14, 233, 178);
    font-size:70px;
    text-decoration:underline;
}
#projects {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 25px;
    background: transparent;
    color: #fff;
    position: fixed;
    top: 0;
    right: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-radius: 0px 0px 100px 100px;
}

#about {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(-90deg);
    background:transparent;
    color:#fff;
    position:fixed;
    left:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#work {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:transparent;
    color:#fff;
    position:fixed;
    right:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#contact {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    background:transparent;
    color:#fff;
    position:fixed;
    bottom:0;
    left:45vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}

/***** Phase de test ajout d'un bouton en corner pour le flux RSS *****/
#RSS {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 25px;
    transform: rotate(45deg);
    background: transparent;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ajustez si nécessaire */
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-radius: 100px 100px 100px 100px;
}

#Certif {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 25px;
    transform: rotate(-45deg);
    background: transparent;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ajustez si nécessaire */
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-radius: 100px 100px 100px 100px;
}




#projects:hover {
    background:rgb(243, 155, 23);
    cursor:pointer;
}
#about:hover {
    background:rgb(243, 155, 23);
    cursor:pointer;
}
#work:hover {
    background:rgb(243, 155, 23);
    cursor:pointer;
}
#contact:hover {
    background:rgb(243, 155, 23);
    cursor:pointer;
}
#RSS:hover {
    background:rgb(243, 155, 23);
    cursor:pointer;
}
#Certif:hover {
    background:rgb(243, 155, 23);
    cursor:pointer;
}
#middle table {
    width:30%;
    margin:6vh auto;
}
#middle table tr td {
    text-align:center;
}
.social {
    color:#fff;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    color:rgb(243, 155, 23);
}
/*un container par Page*/

.text-shadow {
    text-shadow: 2px 2px 4px rgb(255, 0, 0); /* X-offset, Y-offset, blur radius, color */
  }

.containerProjet {
    width:100vw;
    height:100vh;
    padding:5vh 5vw;
    background:url("./assets/AdobeStock_597780715.jpeg") center center;
    background-size:cover; 
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.containerProjet div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.containerProjet div:hover {
    cursor:pointer;
}
.containerProjet section {
    margin:8vh 0px;
}

.containerBTS {
    width:100vw;
    height:100vh;
    padding:5vh 5vw;
    background:url("./assets/AdobeStock_620084892.jpeg") center center;
    background-size:cover; 
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.containerBTS div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.containerBTS div:hover {
    cursor:pointer;
}
.containerBTS section {
    margin:8vh 0px;
}

.containerMoi {
    width:100vw;
    height:100vh;
    padding:5vh 5vw;
    background:url("./assets/AdobeStock_553997001.jpeg") center center;
    background-size:cover;
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.containerMoi div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.containerMoi div:hover {
    cursor:pointer;
}
.containerMoi section {
    margin:8vh 0px;
}

.containerContact {
    width:100vw;
    height:100vh;
    padding:5vh 5vw;
    background:url("./assets/AdobeStock_580290190.jpeg") center center;
    background-size:cover; 
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.containerContact div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.containerContact div:hover {
    cursor:pointer;
}
.containerContact section {
    margin:8vh 0px;
}

/* phase de test container FLUX RSS */
.containerRSS {
    width:100vw;
    height:100vh;
    padding:5vh 5vw;
    background:url("./assets/River_Forest.png") center center;
    background-size:cover; 
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.containerRSS div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.containerRSS div:hover {
    cursor:pointer;
}
.containerRSS section {
    margin:8vh 0px;
}

.containerCertif {
    width:100vw;
    height:100vh;
    padding:5vh 5vw;
    background:url("./assets/Station_spatial.png") center center;
    background-size:cover; 
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.containerCertif div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.containerCertif div:hover {
    cursor:pointer;
}
.containerCertif section {
    margin:8vh 0px;
}


#used div{
    font-size:14px !important;
    display:inline-block;
    padding:8px 10px;
    border:2px solid #fff;
    margin:0px 10px;
    border-radius:50px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.containerProjet h1 {
    font-size:60px;
    text-decoration:underline;
}
.containerProjet p {
    font-size:21px;
}

.containerBTS h1 {
    font-size:60px;
    text-decoration:underline;
}
.containerBTS p {
    font-size:21px;
}

.containerMoi h1 {
    font-size:60px;
    text-decoration:underline;
}
.containerMoi p {
    font-size:21px;
}

.containerContact h1 {
    font-size:60px;
    text-decoration:underline;
}
.containerContact p {
    font-size:21px;
}

.containerRSS h1 {
    font-size:60px;
    text-decoration:underline;
}
.containerRSS p {
    font-size:21px;
}
.containerCertif h1 {
    font-size:60px;
    text-decoration:underline;
}
.containerCertif p {
    font-size:21px;
}

.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    background:transparent;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    color:rgb(10, 245, 225);
    background:#fff;
}
.btn_two {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(10, 245, 225);
    background:#fff;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_two:hover {
    cursor:pointer;
    padding:8px 60px;
}
.containerContact form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.containerContact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.containerContact form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
.containerContact form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
::placeholder {
    color:#fff;
}
#footer {
    color:#fff;
    width:100vw;
    padding:5vh 4vw;
    text-align:right;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:16px;
    font-weight:bold;
}
#footer a {
    color:rgb(10, 245, 225) ;
}
#particles-js {
    position:fixed;
    width:100vw;
    height:100vh;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: rgb(10, 245, 225); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(10, 245, 225); 
}
::selection {
	color: #fff;
	background: rgb(10, 245, 225);
}

@media (max-width: 800px){ 
    #projects {
        display:none;
    }
    #about {
        display:none;
    }
    #contact {
        display:none;
    }
    #work {
        display:none;
    }
    #RSS {
        display:none;
    }
    #Certif{
        display:none;
    }
    #footer {
        text-align:center;
    }
    #middle {
        width:90vw;
        padding:0px 5vw;
    }
    #middle table {
        width:80%;
    }
    .containerContact form input {
        width:90%;
    }
    .containerContact form textarea {
        width:90%;
    }
    #menu {
        display:inline-block;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}


@keyframes slideInFromBottomLeft {
    0% {
        transform: translate(-100%, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
 
@keyframes slideOutToBottomLeft {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-100%, 100%);
        opacity: 0;
    }
}

  
.slideInFromBottomLeft {
    animation-name: slideInFromBottomLeft;
    animation-duration: 0.8s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Gardez l'état final après l'animation */
}

.slideOutToBottomLeft {
    animation-name: slideOutToBottomLeft;
    animation-duration: 0.8s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Gardez l'état final après l'animation */
}

@keyframes slideInFromTopLeft {
    0% {
        transform: translate(-100%, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
 
@keyframes slideOutToTopLeft {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-100%, -100%);
        opacity: 0;
    }
}

.slideInFromTopLeft {
    animation-name: slideInFromTopLeft;
    animation-duration: 0.8s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Gardez l'état final après l'animation */
}

.slideOutToTopLeft {
    animation-name: slideOutToTopLeft;
    animation-duration: 0.8s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Gardez l'état final après l'animation */
}


