body {
    margin: 0;
    padding: 0;
    background-image: url('..\image\galaxy.gif'); /* Remplacez 'galaxy.gif' par le chemin de votre GIF */
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow: hidden; /* Empêche la barre de défilement lorsque le contenu dépasse la fenêtre */
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Largeur du menu */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

#menu h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
}

#menu p {
    font-size: 16px;
    margin: 0;
}

#header {
    text-align: center;
    padding: 100px 0;
}

#header h1 {
    font-size: 36px;
}

#header p {
    font-size: 18px;
}
